body{
  background-image:url(http://www.brandgradients.com/img/backgrounds/instagram-hex-colors-gradient-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color:white;
  font-size: 1.5em}
h1{
  text-shadow: 2px 4px black;
  font-family: 'Carter One', cursive;
  font-size: 2em;
  text-align: center;
  user-select: none}
h2,h4{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin: 50px;
  user-select: none}
p{
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  margin: 2px;
  user-select: none}
h3,#container{
  text-align: center;
  font-family:'Rubik', sans-serif;
  font-size: 1em;
  user-select: none}
#message1{
  margin:15px;
}
#message1, #result{
  box-shadow: 4px 4px black;
  width: 60%;
  height: 90px}
#key{
  width: 20%}
#showInstructions{
  font-size: 1em
}
#botonayuda{
  font-size: 0.8em;
  color: white;
  background: black;
  border-radius: 40px}
#botoncifro, #botondescifro{
  margin:10px;
  font-size: 1em;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  background: white;
  border-radius: 20px}
#botoncifro:hover {
  background-color: black;
  color: white}
#botondescifro:hover{
  background-color: black;
  color:white}
