*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
h1{
color: white;
text-shadow: 5px black;
font-size: 65px;
text-align: center;
user-select: none;
}
p{
text-align: center;
font-size: 30px;
margin-left: -50px;
user-select: none;
}
#fraseInicial{
margin-top: auto;
margin-left: -50px;
box-shadow: 2px 4px #163e74;
width: 200px;
transition: width 2s;
height: 100px;
}
#fraseInicial:hover{
width: 300px;
}
body{
background-color: gray;
background-position: center;
text-align: center;
color:white;
font-size: 25px;
}
#descifrado{
margin-top: 30px;
font-size: 20px;
}

#key{
width: 70px;
}
#botoncifro{
border-radius: 8px;
border:3px;

}
#botondescifro{
border-radius: 8px;
}
